<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e47893">  <td>23/10/18 15:56:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:TestClassPackage.Get_TC1@3697186]">executor</td> 
  <td>main@1407083101</td>   <td></td> </tr>
<tr bgcolor="b08cbd">  <td>23/10/18 15:56:31</td>   <td>2093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:TestClassPackage.Patch_TC1@327bcebd]">executor</td> 
  <td>main@1407083101</td>   <td></td> </tr>
<tr bgcolor="70a591">  <td>23/10/18 15:56:32</td>   <td>3327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:TestClassPackage.Put_TC1@19c65cdc]">executor</td> 
  <td>main@1407083101</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>23/10/18 15:56:33</td>   <td>4198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:TestClassPackage.Post_TC1@74bf1791]">executor</td> 
  <td>main@1407083101</td>   <td></td> </tr>
</table>
